@font-face 
{
    font-family: 'raleway';
    src: url(fonts/Raleway-Medium.ttf);
}

body
{
    font-family: 'raleway', 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
}

strong
{
    font-weight: bold;
}

.logo
{
    width: 15%; 
}

nav
{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.navigation
{
    align-items: center;
    padding: 2%;
    font-size: 125%;
    color: #0065FC;
    padding-bottom: 0;
}

.navigation p
{
    margin: 0;
}

nav a
{
    width: 100%;
    color: black;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.nav1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav2
{
    display: flex;
}

.nav1>a
{
    text-align: center;
    justify-content: center;
}

.nav2>a
{
    font-weight: bold;
    color: #0065FC;
    text-align: center;
}

h1
{
    clear: both;
    font-weight: bold;
    font-size: 2em;
}

#ancre-recherche
{
    padding: 2%;
    padding-top: 0%;
    justify-content: flex-start;
    text-align: start;
    align-items: center;
}

form
{
    display: flex;
    align-items: center;
    height: 2%;
    margin-bottom: 2%;
}

.trecherche
{
    width: 300px;
    padding: 0.9%;
    border-collapse: collapse;
    border: 2px solid #F2F2F2;
}

#brecherche
{
    color: white;
    background-color: #0065FC;
    padding: 1%;
    border: none;
    border-radius: 0 15px 15px 0;
    border-collapse: collapse;
}

#lrecherche
{
    display: none;
}

.allfiltre
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.allfiltre>p
{
    margin-right: 2%;
}

.filtre
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:auto;
    height: 38px;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 25px 25px 25px 25px;
    justify-content:start;
    align-items: center;
    margin-right: 2%;
    padding: 0%;
    padding-right: 10px;
}

.filtrelogo
{
    color: #0065FC;
    font-size: 1.2em;
    background: #DEEBFF;
    border-radius: 50px;
    padding: 10px;
    width: 25px;
    text-align: center;
    margin-right: 10px;
}

.filtre p
{
    width: auto;
}

.filtre:hover
{
    background-color: #DEEBFF;
}

.filtre:focus
{
    background-color: #0065FC;
}

.fas.fa-map-marker-alt
{
    background-color: #F2F2F2;
    background-size: 1%;
    padding: 1%;
    border-radius: 15px 0 0 15px;
    border-collapse: collapse;
    align-items: center;
}

.fas.fa-info
{
    width: 15px;
    text-align: center;
    color: #0065FC;
    float: left;
    padding: 5px;
    background-size: 15px;
    border-radius: 100%;
    border: 2px solid #F2F2F2;
    margin-right: 0.5%;
}

#info
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

em
{
    font-weight: bold;
    font-style: normal;
}

.bloc
{   display: table;
    width: 100%;
}

h2
{
    margin-left: 1%;
    margin-bottom: 20px;
}

#ancre-hébergement
{
    display: table-cell;
    background-color: #F2F2F2;
    float: left;
    width: 56%;
    height: 640px;
    margin: 2.25%;
    margin-top: 0;
    padding: 1%;
    border-radius: 20px 20px 20px 20px;
}

#ancre-hébergement>div>a>p
{
    margin: 0;
}

.logement
{
    background-color: white;
    width: auto;
    height: 100%;
    padding: 2%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 2px 10px -5px grey;
}

.logement p
{
    margin: 0.5%;
}

.logement:hover
{
    transform: scale(1.05);
}

.imgheb>img
{
    width: 100%;
    height:auto;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 160px;
}

#ancre-hébergement a
{
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5%;
    text-decoration: none;
    color: black;
    width: 30%;
}

#ancre-populaire
{
    display: table-cell;
    background-color: #F2F2F2;
    width:31%;
    height: 640px;
    float: right;
    margin: 2.25%;
    margin-top: 0;
    padding: 1%;
    border-radius: 20px 20px 20px 20px;
}

#ancre-populaire>h2
{
    margin-bottom: 0;
}

.fas.fa-chart-line
{
    float: right;
}

#ancre-populaire a
{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    text-decoration: none;
    color: black;
}

#ancre-populaire a:hover
{
    transform: scale(1.05);
}

#ancre-populaire>div
{
    padding: 1.5%;
}

.logement-pop
{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: auto;
    height: 150px;
    padding: 1%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 2px 10px -5px grey;
}

.imgpop
{
    width: 50%;
    height: auto;
}

.imgpop>img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.bloctxtpop
{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}

.txtpop p
{
    margin: 5px;
    padding-left: 2%;
}

.bloctxtpop>.star
{
    padding-left: 2%;
    padding-bottom: 5px;
}

#ancre-activité
{
    clear: both;
    width: auto;
    padding: 2%;
    padding-top: 0%;
}

figure
{
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 2px 10px -5px grey;
}

.activité-grand
{
    margin-top: 0;
    height: 98%;
    margin: 2%;
    max-height: 500px;
}

.activité-grand>img
{
    object-fit: cover;
    width: 100%;
    height: 95%;
    border-radius: 10px 10px 0 0;
}

.double-activite
{
    max-height: 500px;
}

.activité-petit
{
    height: 48.35%;
    max-height: 250px;
    margin-top: 0;
    margin: 2%;
}

.activité-petit>img
{
    object-fit: cover;
    width: 100%;
    height: 79%;
    border-radius: 10px 10px 0 0;
}

figcaption
{
    padding-left: 2%;
    height: 50px;
}

#ancre-activité>div
{
    display: flex;
    flex-wrap: nowrap;
    max-height: 500px;
}

#ancre-activité a
{
    text-decoration: none;
    color: black;
}

#ancre-activité figure:hover
{
    transform: scale(1.05);
}

.footer
{
    width: auto;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    background-color: #F2F2F2;
    padding: 2%;
}

.fbloc
{
    width:33%;
}

.footerlien a
{
    color: black;
    text-decoration: none;
}

.footerlien a:hover
{
    text-decoration: underline;
}


h3
{
    font-weight: bold;
}

.star
{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-top: 2%;
}

.bluestar
{
    color: #0065FC;
    display: flex;
}

.greystar
{
    color: #F2F2F2;
    display: flex;
}

/* Tablette */
@media screen and (min-width: 800px) and (max-width: 1440px)
{
    .logo
    {
        width: 125px;
    }

    #lrecherche
    {
        display: none;
    }

    #ancre-populaire
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        float: none;
    }

    #ancre-populaire a
    {
        width: 31%;
        display: inline-flex;
        flex-direction: row;
        margin: 1%;
        margin-bottom: 0;
        flex-wrap: nowrap;
    }

    .logement-pop
    {
        width: 100%;
        padding: 2%;
    }

    #ancre-hébergement
    {
        width: auto;
        display: flex;
        flex-direction: column;
        margin-right: 2%;
    }

    #ancre-hébergement a
    {
        margin: 1%;
    }

}

/* Mobile */
@media screen and (max-width: 799px)
{
    .logo
    {
        width: 100px;
    	margin-left: 2%;
		padding-left: 2%;
    }

	.navigation
	{
		padding: 0;
        padding-top: 2%;
		font-size: 110%;
	}

    nav
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .nav1>a
    {
        padding-bottom: 2%;
        margin-left: 0;
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
    }

    .nav1>a:hover
    {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }

    .nav2
    {
        text-align-last: right;
        grid-area: -3/-2/-2/-2; 
        justify-content: flex-end;
        margin-right: 5%;
		padding-right: 2%;
    }

    .nav2>a:hover
    {
        border: none;
    }

    .fas.fa-map-marker-alt
    {
        padding: 3%;
        width: 8%;
        font-size: 1.2em;
        text-align: center;
    }

    form
    {
        justify-content: center;
    }

    .trecherche
    {
        padding: 2.9%;
        width: 80%;
		border-right: none;
    }

    #brecherche
    {
        display: none;
    }

    #lrecherche
    {
        display: flex;
        border: none;
        border-radius: 0 15px 15px 0;
        border-collapse: collapse;
        justify-content: center;
        width: 15%;
        font-size: 1.2em;
        padding: 3%;
        color: white;
        background-color: #0065FC;
    }

    .allfiltre
    {
        flex-wrap: wrap;
    }

	.allfiltre>p
	{
		width: 100%;
	}

	.fas.fa-info
	{
		margin-right: 2%;
	}
    
    #ancre-hébergement
    {
        width: auto;
		height: auto;
        display: flex;
        flex-direction: column;
        background-color:initial;
        margin: 0;
    }

    #ancre-hébergement a
    {
        width: 97%;
        height: auto;
        margin-bottom: 2%;
    }

    .logement
    {
        padding: 1%;
    }

    #ancre-populaire
    {
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 0;
        border-radius: 0;
        margin-bottom: 2%;
    }

    #ancre-activité>div
    {
        flex-direction: column;
        max-height: none;
    }

    .activité-grand
    {
        max-height: none;
        height: 225px;
        margin: 1%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .activité-grand>img
    {
        height: 78%;
    }

    .double-activite
    {
        max-height: none;
    }

    .activité-petit
    {
        height: 225px;
        margin: 3%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .footer
    {
        display: flex;
        flex-direction: column;
        justify-content: start;
        word-wrap: normal;
    }

    .fbloc
    {
        width: 100%;
    }
}